
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Rubik:wght@300;400;500&family=Titillium+Web:wght@200;300;400&display=swap');

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

:root {  
    /* Primary */
    --Blue: hsl(246, 80%, 60%);
    
    --Lightred-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-selfcare: hsl(43, 84%, 65%);

    /* Neutral */

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    background-color: var(--Very-dark-blue);
    color:white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 475px;
}

.container-space-around {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.container-space-between {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

h1 {
    font-weight: 200;
    font-size: xx-large;
}

h2 {
    font-weight: 200;
    font-size: x-large;
}

.container-card-user {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 55px;
}

.card-user {
    position: relative;
    width: 325px;
    height: 195px;
    margin: 25px;
}

.card-user_infosection {
    position: absolute;
    top: 0;
    width: 100%;
    height: 65%;
    background-color: var(--Desaturated-blue);
    border-radius: 15px;
    padding: 25px; }
    .card-user img {
        width:3.5rem;
        border: 3px solid white;
        border-radius: 50%;
    }

.card-user_timefrecuency {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: -1;
    border-radius: 15px;
    background-color: var(--Dark-blue);
    }
    .card-user_timefrecuency button {
        text-decoration: none;
        background-color: none;
     }
    .card-user_timefrecuency ul {
       position: relative;
       top: 7.5px;
       width: 100%;
    }
    .card-user_timefrecuency ul li {
        list-style: none;
    }

.container-cards-activities {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-activity {
    position: relative;
    width: 325px;
    height: 175px;
    margin: 25px; }
    .card-activity_heading {
        position: absolute;
        width: 100%;
        height: 35%;
        top:0;
        text-align: right;
        border-radius: 15px;
        z-index: -1; 
        overflow: hidden; }
    .card-activity_body {
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: 0;
        background-color: var(--Dark-blue);
        border-radius: 15px;
        padding: 25px; 
        display: flex;
        flex-direction: column;
        line-height: 2.5rem; }
    .card-activity_heading img {
        margin-right: 12px;
        position: relative;
        top: -5px;      
    }


    .card-activity_body:hover {
        cursor: pointer;
        background-color: var(--Desaturated-blue);
    }
    
    .work {background-color: var(--Lightred-work);}
    .play {background-color: var(--Soft-blue-play);}
    .study {background-color: var(--Light-red-study);}
    .exercise {background-color: var(--Lime-green-exercise);}
    .social {background-color: var(--Violet-social);}
    .self-care {background-color: var(--Soft-orange-selfcare);}

    .weekly {display: none;}
    .monthly {display: none;}


    @media only screen and (min-width:1440px) {
        
        .main-container {
            max-width: 100%;
            height: 100vh;
        }
        .container-cards-activities {
            max-width: 1040px;
            flex-wrap: wrap;
        }
        .container-card-user {
            width: 40%;
            margin: 0;
        }
        .container-space-around {
            flex-direction: column;
            align-items: self-start;
        }
       
        .card-user {
            width: 375px;
            height: 560px; }
            .card-user_timefrecuency {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly; }
                .card-user_timefrecuency ul {
                    padding: 25px;
                    padding-top: 45px; }
                .card-user_timefrecuency ul li {
                    padding: 15px;
                }
                .card-user img {width: 6.5rem;}

        .card-activity {
            width: 275px;
            height: 255px;
        }
       
       
        h1 {font-size: 55px;}
        h2 {font-size: 45px;}

    }
    